﻿@inherits  Umbraco.Web.Mvc.UmbracoViewPage<mnttito.ViewModels.HomepageViewModel>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Masterpage.cshtml";

    //Bad prictice to get the data from the view, should come from controller...

    var list = Umbraco.ContentAtRoot().FirstOrDefault()
     .ChildrenOfType("services")
     .Where(x => x.IsVisible()).Take(3);


    var mediaItem = Umbraco.Media(1071);






}


@if (mediaItem != null)
{
    // To get the url for your media item, you use the Url property:
    var url = mediaItem.Url;
    // to read a property by alias
    var imageHeight = mediaItem.Value<int>("umbracoHeight");
    var imageWidth = mediaItem.Value<int>("umbracoWidth");
    var orientationCssClass = imageWidth > imageHeight ? "img-landscape" : "img-portrait";



    <div class="jumbotron rounded-0 text-center" style="background-image: url(@url); background-size: 100% 100%;">


        <div class="container text-white">
            @*<h1 class="display-4">@Model.Value("headlineCoverImage")</h1>
                <p class=" pt-5">@Model.Value("bodyTextCoverImage")</p>*@
            <hr class="my-4">

            <p class="lead ">
                @*<a class="btn btn-warning btn-lg text-white col-md-6 rounded-pill" href="#" role="button"><i class="fa-solid fa-phone text-white"></i>&ensp; @Model.Value("phonenumberForCoverImage")</a>*@
            </p>
        </div>

    </div>
}

<section class="section-height section-coler">
   @Model.ThumbnailImageUrl gg
    <div class="container">

        @*<p class="text-center pt-5 "><b>@Model.Value("headline")</b></p>
            <p class="text-center">@Model.Value("bodyText")</p>*@
        <hr class="bg-primary col-2" />
        <p class="text-center">
            @*@Model.Value("servicesText")*@
        </p>

        <div class="row">

        </div>
        <div class="row">
            @foreach (var item in list)
            {

                <div class="col-sm-4 mx-auto">
                    <div class="border border-secondary bg-white">
                        <p class="text-center pt-5">  <b>@item.Value("title").ToString();</b></p>
                        <div class="text-center pt-2 pb-2">


                            @if (@item.Value("icon") != null)
                            {

                                var addCssClass = @item.Value("icon").ToString();

                                <i class="fa-2x @addCssClass pb-2 text-primary"></i>



                            }
                        </div>
                        <p class="text-center pb-5">

                            @item.Value("content").ToString()
                        </p>
                    </div>
                    <!-- Column content -->


                </div>





            }





        </div>
    </div>


</section>

<section class="section-height">
    <div class="container">
        <p class="text-center pt-5 "><b>Mandskabsudlejning til byggebranchen</b></p>
        <hr class="bg-primary col-2" />
    </div>
</section>


